---
---

{% assign author_hash = site.data.authors[page.author] %}

{% if page.tags contains "Kidgenius" %}
  {% assign is_kidgenius_post = true %}
{% elsif page.tags contains "kidgenius" %}
  {% assign is_kidgenius_post = true %}
{% elsif page.tags contains "KidGenius" %}
  {% assign is_kidgenius_post = true %}
{% else %}
  {% assign is_kidgenius_post = false %}
{% endif %}


<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ author_hash['image'] }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author_hash['name'] }}</h4>
              on
              <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url('{{ author_hash['image'] }}')">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author_hash['name'] }}</h4>
              on
              <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
          <a name="topofpage"></a>
          {{content}}

          <hr>
          {% if is_kidgenius_post %}
            <div style="text-align:center;">
              <p>Do you run a child care center or dayhome? Sign up for KidGenius today!</p>
              <a class="kidgenius-button" href="https://kidgenius.daycareiq.com/sign-up/?utm_source=blog&utm_medium=blogpost&utm_campaign=blog">Get started for free</a>
            </div>
          {% else %}
            <div style="text-align:center;">
              <p>Have a child in daycare or in a dayhome? Want to know about your child's day? KidGenius is the perfect tool to keep you up to date.</p>
              <a class="kidgenius-button" href="https://kidgenius.daycareiq.com/sign-up/?utm_source=blog&utm_medium=blogpost&utm_campaign=blog">Get your childcare using KidGenius</a>
            </div>
          {% endif %}
        </section>
        <!-- post footer used to be here -->
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Tags</span></h5>
              <section style="color:#999;font-size:14px;margin-bottom:20px;">
                {% if page.tags == null %}
                  Not tagged.
                {% else %}
                  <ul style="margin-top:0px;">
                    {% for tag in page.tags %}
                      <li><a href="/tags#{{ tag | slugify }}-ref">{{ tag | capitalize}}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </section>
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{author_hash['image']}})">Blog Logo</div>
              <h4>{{ author_hash['name'] }}</h4>
              <p class="bio">{{author_hash['bio']}}</p>
              <hr>
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
            </section>
          </div>
          {{/post}}
          <div class="isRight">
            <h5 class="index-headline featured"><span>Featured Posts</span></h5>
            <footer class="site-footer">
              {% for post in site.tags.featured limit: 3 %}
                <section class="poweredby"><a href="{{ post.url }}">{{post.title}}</a></section>
                <section class="copyright">{{ post.content | strip_html | truncatewords: 50 }}</section>
                <hr />
              {% endfor %}
            </footer>
          </div>
        </div>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Head back to the main page</a>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>

{% assign author_hash = nil %}
